*{
  line-height: normal;
}

#title{
  font-size: 6vw;
  font-family: 'Bree Serif', serif;
  color: #0098db;
  margin-left: 20px;
}

* {
  font-family: "Calibri", Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.tweet {
  /*border: 1px solid black;*/
  width: 25em;
  padding: 2em;
  margin-top: 2em;
}

.sentiment {
  border: 1px solid black;
  border-color: red;
  padding: 2em;
}

#map, #graphs{
  height: 65vh;
}

#base, #graphs{
  align-items: center;
  height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #0098db white;
}
