node_modules/
package-lock.json
.innometrics.db
Documenti/
.innometrics.db-journal
.~lock.Sprint_0_Review.odp%23
sonar-scanner-cli-4.6.2.2472-windows/
.scannerwork/
foo/
svelte-app/
.env
sonar-scanner-4.6.2.2472-linux/
